*.pyc
*.log
/app/plugins/*
!/app/plugins/__init__.py
/download/*
!/download/__init__.py
.vscode/*
_venv/*

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

